#rotate-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rotate-warning.hidden {
  display: none;
  pointer-events: none;
}

.rotate-box {
  text-align: center;
  font-size: 20px;
}

.rotate-box button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #ff4d4d;
  color: white;
}
